@import 'variables.scss';
@import "maps.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
}

.page-body {
  height: 100vh;
}

.grid-container {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5%;

  @media screen and (max-width: 480px) {
    width: 90%;
  }
}

.circle {
  width: 100%;
  background-color: grey;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid $darker;
  will-change: transform;
  transform: scale(1, 1);
  transition-duration: 0.7s;
}

.circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 1s;
}